In [ ]:
# IMPORTING THE PANDAS LIBRARIES WE ARE GOING TO USE.
import pandas as pd
# IMPORTING THE NUMPY LIBRARIES WE ARE GOING TO USE.
import numpy as np

# LOADING OUR DATASET
path ='/content/Autolib_dataset.csv'
df = pd.read_csv(path)
df.head()

                              Address  Cars  Bluecar counter  ...  day  hour  minute
0                 2 Avenue de Suffren     0                0  ...    8    11      43
1           145 Rue Raymond Losserand     6                6  ...    6     7      24
2    2 Avenue John Fitzgerald Kennedy     3                3  ...    3    20      14
3              51 Rue EugÃ¨ne OudinÃ©     3                3  ...    4     4      37
4  6 avenue de la Porte de Champerret     3                3  ...    8    17      23

[5 rows x 25 columns]

In [ ]:
# LET'S SEE HOW OUR DATA LOOKS LIKE
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 25 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Address              5000 non-null   object
 1   Cars                 5000 non-null   int64
 2   Bluecar counter      5000 non-null   int64
 3   Utilib counter       5000 non-null   int64
 4   Utilib 1.4 counter   5000 non-null   int64
 5   Charge Slots         5000 non-null   int64
 6   Charging Status      5000 non-null   object
 7   City                 5000 non-null   object
 8   Displayed comment    111 non-null    object
 9   ID                   5000 non-null   object
 10  Kind                 5000 non-null   object
 11  Geo point            5000 non-null   object
 12  Postal code          5000 non-null   int64
 13  Public name          5000 non-null   object
 14  Rental status        5000 non-null   object
 15  Scheduled at         47 non-null     object
 16  Slots                5000 non-null   int64
 17  Station type         5000 non-null   object
 18  Status               5000 non-null   object
 19  Subscription status  5000 non-null   object
 20  year                 5000 non-null   int64
 21  month                5000 non-null   int64
 22  day                  5000 non-null   int64
 23  hour                 5000 non-null   int64
 24  minute               5000 non-null   int64
dtypes: int64(12), object(13)
memory usage: 976.7+ KB

In [ ]:
# LET'S SEE THE SHAPE OF OUR DATA.
print(df.shape)

(5000, 14)

**DATA CLEANING**

In [ ]:
# WE START CLEANING OUR DATA.
# BY DROPPING THE COLUMNS WE DON'T NEED.
df.drop(['Cars','Charge Slots','Displayed comment','Geo point','Rental status','Scheduled at','Station type','Subscription status','year','month','day','minute'],axis=1, inplace=True)
df

                                 Address  Bluecar counter  ...  Status  hour
0                    2 Avenue de Suffren                0  ...      ok    11
1              145 Rue Raymond Losserand                6  ...      ok     7
2       2 Avenue John Fitzgerald Kennedy                3  ...      ok    20
3                 51 Rue EugÃ¨ne OudinÃ©                3  ...      ok     4
4     6 avenue de la Porte de Champerret                3  ...      ok    17
...                                  ...              ...  ...     ...   ...
4995                 8 avenue MÃ©nelotte                2  ...      ok    11
4996                   37 rue de Dantzig                4  ...      ok    16
4997                      142 rue du Bac                1  ...      ok     7
4998         2 avenue du Val de Fontenay                2  ...      ok    17
4999                 5 Rue Henry Brisson                4  ...      ok    10

[5000 rows x 13 columns]

In [ ]:
# CHECKING FOR NULL VALUES
df.isnull().sum()

Address               0
Bluecar counter       0
Utilib counter        0
Utilib 1.4 counter    0
Charging Status       0
City                  0
ID                    0
Kind                  0
Postal code           0
Public name           0
Slots                 0
Status                0
hour                  0
dtype: int64

In [ ]:
# CHECKING FOR DUPLICATED VALUES
df.duplicated().sum()

88

In [ ]:
# WE ADD COLUMNS THAT SHOW WHETHER THE BLUECAR HAS BEEN PICKED OR RETURNED.
df['bluecar_measures'] = df['Bluecar counter'].diff()
df.head()

                              Address  ...  bluecar_measures
0                 2 Avenue de Suffren  ...               NaN
1           145 Rue Raymond Losserand  ...               6.0
2    2 Avenue John Fitzgerald Kennedy  ...              -3.0
3              51 Rue EugÃ¨ne OudinÃ©  ...               0.0
4  6 avenue de la Porte de Champerret  ...               0.0

[5 rows x 15 columns]

**DATA** **ANALYSIS**

In [ ]:
# WE REDUCE OUR DATA TO DATA THAT ONLY CONCERNS PARIS
# SINCE OUR RESEARCH QUESTION IS ONLY INTERESTED IN PARIS.
paris = np.where(df['City'] == 'Paris')
paris

(array([   0,    1,    3, ..., 4996, 4997, 4999]),)

In [ ]:
paris1 = df.loc[paris]
paris1.head()

                              Address  ...  bluecar_measures
0                 2 Avenue de Suffren  ...               NaN
1           145 Rue Raymond Losserand  ...               6.0
3              51 Rue EugÃ¨ne OudinÃ©  ...               0.0
4  6 avenue de la Porte de Champerret  ...               0.0
5                8 Boulevard Voltaire  ...              -3.0

[5 rows x 15 columns]

In [ ]:
# AND NOW TO ANSWER THE RESEARCH  QUESTION
# WHAT IS THE MOST POPULAR HOUR FOR PICKING UP BLUECARS?
paris1[paris1['bluecar_measures']<0].groupby('hour')['hour'].count().sort_values(ascending=False).head(1)

hour
21    80
Name: hour, dtype: int64

21:00 IS THE MOST POPULAR HOUR FOR PICKING UP BLUE CARS.

In [ ]:
# WHAT IS THE MOST POPULAR HOUR FOR RETURNING BLUECARS
paris1[paris1['bluecar_measures']>0].groupby('hour')['hour'].count().sort_values(ascending=False).head(1)

hour
3    49
Name: hour, dtype: int64

03:00 IS THE MOST POPULAR HOUR FOR RETURNING BLUECARS